extends includes/layout.pug

block content
  // 小说作品合集
  .novel-collection
    .novel-collection-grid
      // 我在地府打工那些年
      a.novel-collection-card(href=url_for('/novel/'))
        img.novel-collection-cover(src=url_for('/images/difu-cover.jpg') alt='我在地府打工那些年')
        .novel-collection-info
          .novel-collection-name 我在地府打工那些年
          .novel-collection-tags
            span.tag BL
            span.tag 玄幻
            span.tag 地府
          .novel-collection-desc 浮生花开，香承旧魂；地府风起，归路认得一人。
          .novel-collection-meta 作者：淮子生生 | 121章 | 约64万字
      
      // 这破游戏NPC太能打了
      a.novel-collection-card(href=url_for('/novel2/'))
        img.novel-collection-cover(src=url_for('/images/npc-banner.jpg') alt='这破游戏NPC太能打了')
        .novel-collection-info
          .novel-collection-name 这破游戏NPC太能打了
          .novel-collection-tags
            span.tag BL
            span.tag 游戏
            span.tag 西幻
          .novel-collection-desc 穿越进游戏世界，发现NPC不仅有了自我意识，还强得离谱。
          .novel-collection-meta 作者：淮子生生 | 117章 | 约49万字
      
      // 九州风云录
      a.novel-collection-card(href=url_for('/novel3/'))
        img.novel-collection-cover(src=url_for('/images/jiuzhou-banner.jpg') alt='九州风云录')
        .novel-collection-info
          .novel-collection-name 九州风云录
          .novel-collection-tags
            span.tag GB
            span.tag 仙侠
            span.tag 轻喜剧
          .novel-collection-desc 天宫第一闲人乐游神的追爱日常，三千岁的他能否等来属于自己的春天？
          .novel-collection-meta 作者：淮子生生 | 13章 | 约6万字
      
      // 北境玫瑰
      a.novel-collection-card(href=url_for('/novel4/'))
        img.novel-collection-cover(src=url_for('/images/beijing2-banner.jpg') alt='北境玫瑰（程行歌版）')
        .novel-collection-info
          .novel-collection-name 北境玫瑰
          .novel-collection-tags
            span.tag BL
            span.tag 奇幻
            span.tag 原创
          .novel-collection-desc 准神候选人黎昭，从时衍天宫逃难至北境，被Alpha指挥官按在墙上操。
          .novel-collection-meta 作者：淮子生生 | 12章 | 约5万字
      
      // 皇叔何出此言
      a.novel-collection-card(href=url_for('/novel5/'))
        img.novel-collection-cover(src=url_for('/images/huangshu-banner.jpg') alt='皇叔何出此言')
        .novel-collection-info
          .novel-collection-name 皇叔何出此言
          .novel-collection-tags
            span.tag BL
            span.tag 18+
            span.tag 短篇
          .novel-collection-desc 我知道你想看什么
          .novel-collection-meta 作者：淮子生生 | 很多章 | 不知道多少字
      
      // 那些年写过的同人文
      a.novel-collection-card(href=url_for('/novel6/'))
        img.novel-collection-cover(src=url_for('/images/微信图片.jpg') alt='那些年写过的同人文')
        .novel-collection-info
          .novel-collection-name 这是我的lofter账号，欢迎来看我写的小短文呀。https://fangqi07.lofter.com
          .novel-collection-tags
            span.tag 短篇
            span.tag 同人
            span.tag 原神
          .novel-collection-desc 这是当年我写大学的时候在lofter上写的原神同人文
          .novel-collection-meta 作者：淮子生生 | 9章 | 约23万字
